.flora-icon {
    color: white;
    padding-bottom: 5px;
}

.flora-unit-cell {
    font-weight: 300;
    font-size: 14pt;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.flora-name {
    padding-left: 0;
    text-align: left;
    border-bottom: 1px solid #999;
}

.flora-title {
    text-align: left;
    width: auto;
    font-weight: 800;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.flora-title-icon {
    float: right
}

.flora-wrapper {
    width: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flora-cell {
    font-weight: 400;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 0;
}

.flora-comment-cell {
    font-weight: 300;
    font-size: 13pt;
    color: grey;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.flora-good-data {
    color: grey;
}

.flora-bad-data {
    color: #ff0123;
}

.flora-inner-cell-padding {
    padding-right: 15px;
}

.flora-outer-cell-padding {
    padding-right: 5px;
}

.flora-table {
    padding-bottom: 10px;
    margin-top: 10px;
    table-layout: auto;
}